    <% content_for :head do %>
        <script
        src="https://maps.googleapis.com/maps/api/js?key=<%= data.api_key['map'] %>&libraries=places">
        </script>
    <%= javascript_include_tag "RouteBoxer_packed" %>
<% end %>

<div id="map"></div>

<input id="start" type="text">
<input id="end" type="text">

<div id="renderer-panel"></div>